*{
    font-family: 'Kalam', cursive;
    margin-top: 0%;
}
body{
    background-color: grey;
    margin: 0%;
}
#willtext{
    font-family: 'Abril Fatface', cursive;
    color: rgb(160, 160, 160);
}
.willkommen{
    background-color: rgb(88, 88, 88);
    background-position-y: center;
}
.ueber{
    background-image: url(../img/black.jpg);
    color: rgb(145, 142, 142);
}
.blogs{
    text-align: center;
    background-color: rgb(224, 224, 224);
}
.blogs a{
    text-decoration: none;
    color: rgb(92, 116, 117);
}
.blogs li{
    list-style-type: none;
}
.blogs a:hover{
    color: black;
}
.text{
    background-image: url(../img/333373.png);
    color: white;
}
.footer{
    background-color: rgb(73, 73, 73);
    color: grey;
}
.social_i{
    text-decoration-line: none;
    color: white;
}
.social_p{
    text-decoration-line: none;
    color: white;
}
.social_i:hover{
    color: black;
}
.social_p:hover{
    color: black;
}
.insta{
    height: 20px;
}
.topBtn{
    position: fixed;
    bottom:20px;
    right:20px;
    background-color: rgb(100, 100, 100);
    color: white;
    border:none;
    border-radius:50%;
    height: 40px;
    width: 40px;
  }
  .topBtn:hover{
      transition-duration: 700ms;
      background-color: rgb(255, 255, 255);
  }
.info-email{
    color: white;
    text-decoration-line: none;
}
.info-email:hover{
    color: black;
}
.info{
    height: 20px;
}
.bildblog1{
    height: 250px;
}
.bildblog2{
    height: 200px;
}
.bildblog3_1{
    height: 200px;
    transform: rotate(180deg);
}
.bildblog3_2{
    height: 200px;
}